@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'aos/dist/aos.css';

@theme{
    --color-pink: #EE4D9B;
    --color-purple: #8461C9;
    --color-green: #6EAA38;
    --font-title: "Barlow Condensed", sans-serif;
    --font-corpo: "Quicksand", sans-serif;
}